* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.general-header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 2;
  padding: 30px 0;
  margin-bottom: 64px;
}

.general-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-box {
  max-width: 1200px;
  margin: auto;
  padding: 0px 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 180px;
}

.main-menu {
  margin: 0;
  box-sizing: border-box;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-list-item {
  margin-right: 35px;
}

.menu-list-item:last-child {
  margin-right: 0px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 150px 0px;
}

.trends {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 60px;
}

.mains-head {
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2;
}

.mains-head::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
}

.trend {
  width: 24.8%;
  height: 250px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend:nth-child(-n + 3) {
  margin-right: 3px;
}

.trend__garden {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend__cheese {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend__walk {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend__lemons {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-tag {
  list-style: none;
  display: flex;
}

.trend-tag-item {
  margin-right: 20px;
}

.trend-tag-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 12px;
  font-weight: bold;
}

.trend-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  margin: auto;
  font-weight: bold;
}

.trend-text {
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 20px 32px;
  margin: 0px auto 20px;
}

.page {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 74.24%;
  margin-bottom: 50px;
}

.card {
  display: flex;
}

.card:not(:first-child) {
  margin-top: 60px;
}

.card-img {
  display: block;
  width: 380px;
}

.card-content {
  margin-left: 30px;
  margin-top: -5px;
}

.card-tag {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 15px;
}

.card-tag-item {
  margin-right: 20px;
}
.card-tag-link {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.card-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}

.card-link {
  text-decoration: none;
  color: #0f0d0e;
}

.date {
  color: #888888;
  font-size: 12px;
  margin-rigth: 10px;
}

.author {
  font-weight: bold;
  color: #000000;
  font-size: 12px;
}

.card-content-area {
  margin-top: 50px;
}

.card-content-text {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.sidebar {
  width: 270px;
}

.sidebar-items:not(:first-child) {
  margin-top: 60px;
}

.items-head {
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
}

.items-head::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
}

.post {
  display: flex;
  margin-top: 20px;
}

.post-img {
  display: block;
  width: 70px;
}

.post-link {
  text-decoration: none;
  color: #000000;
}

.post-content {
  margin-left: 18px;
  margin-top: -5px;
}

.post-date {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  opacity: 0.54;
  padding: 0px;
}

.post-head {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-hight: 1.3;
}

.search-field {
  flex-grow: 2;
} 

.search {
  margin-top: 60px;
  display: flex;
}

.search-area {
  box-sizing: border-box;
  padding: 0px 18px;
  width: 100%;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.search-button {
  border: none;
  width: 47px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
}

.invisible {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.mail-area {
  box-sizing: border-box;
  padding: 0px 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.mail-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}

.sidebar-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-tags-item {
  margin: 26px 3px 0px;
}

.sidebar-tags-link {
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 7px 11px;
}

.theme-list {
  list-style: none;
}

.theme-list-item {
  margin: 14px 0px 0px 3px;
}

.theme-list-item::after {
  content: "";
  display: block;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.theme-list-link {
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
}

.theme-list-counter {
  color: #b59f5b;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -5px;
}

.our_goods {
  max-width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.good {
  width: 33.3%;
  flex-grow: 1;
}

.good_image {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

.good_title {
  font-style: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.good_content {
  max-width: 300px;
  outline: 3px solid #b59f5b;
  outline-offset: 15px;
  margin-top: -25px;
  padding-top: 35px;
  height: 250px;
}

.good_link {
  color: #b59f5b;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

.good_descrition {
  color: #0f0d0e;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

.good_footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.good_old_price {
  display: block;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: bold;
}

.good_price {
  font-weight: bold;
  display: block;
  font-size: 16px;
}

.good_button {
  padding: 12px 25px;
  margin-top: 18px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.basement {
  margin-top: 60px;
}

.basement-box {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.basement-social {
  margin-bottom: 75px;
  background-color: #f4f7f6;
  padding: 30px 0px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-icon {
  display: block;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.social-item:nth-child(-n + 2) {
  margin-right: 60px;
}

.social-icon__twitter {
  background-image: url("../svg/001-dribbble.svg");
}

.social-icon__pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social-icon__tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.right {
  color: #999999;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-bottom: 40px;
}

.popup-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
}

.popup-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 0;
}


.popup {
  width: 20%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
}

.select-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-label {
  font-style: normal;
  font-size: 13px;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin: 5px 0 0 0;
  border: none;
  background-color: #f4f7f6;
  font-style: normal;
  font-size: 13px;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.radio-area {
  margin-bottom: 20px;
}

.radio-group-area {
  margin-top: 10px;
}

.radio-label {
  font-style: normal;
  font-size: 13px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.radio-group-text {
  font-style: normal;
  font-size: 13px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.field-textarea {
  width: 100%;
  min-height: 150px;
  background-color: #f4f7f6;
  font-style: normal;
  font-size: 13px;
  padding: 10px;
  resize: none;
  border: none;
  margin-top: 5px;
}

.field-label {
  font-style: normal;
  font-size: 13px;
}

.send-button {
  margin-top: 18px;
  margin-bottom: 40px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}

.popup_close {
  border: none;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: -30px;
  right: -1px;
}

.popup-container__hidden {display: none;}

@media (max-width: 640px) {
  .general-header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .general-header {
    max-width: 100%;
    height: 640px;
  }

  .menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
  }

  .header-logo {
    width: 250px;
  }

  .main-menu {
    display: none;
  }

  .menu-btn {
    display: flex;
    flex-direction: row-reverse;
  }

  .line {
    width: 23px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
  }

  .title {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-top: 35px;
  }

  .page {
    max-width: 100%;
    display: block;
  }

  .card {
    display: block;
    margin: auto;
  }

  .card-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .card-content {
    margin: auto;
  }

  .card-name {
    font-size: 16px;
  }

  .card-content-meta {
    margin: -20px 0px 0px;
  }

  .card-content-area {
    margin: 15px 0px;
  }

  .card-content-text {
    font-size: 14px;
  }

  .blog {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    margin: auto;
  }

  .trends {
    display: block;
  }

  .trend {
    width: 100%;
  }

  .trend:not(:first-child) {
    margin-top: 3px;
  }

  .our_goods {
    max-width: 640px;
    flex-wrap:wrap;
  }

  .good {
    width:90%;
    padding:0px 35px 0px;
  }

  .good:not(:first-child) {
    margin-top: 50px;
  }
  
  .good_image {
    max-width: 600px;
    max-height: 500px;
  }
  
  .good_content {
    max-width: 600px;
  } 

  .popup {
    width: 90%;
    margin: 10% 5%;
    overflow: scroll;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  
  .general-header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  
  .general-header {
    max-width: 100%;
    height: 360px;
  }
  
  .header-logo {
    width: 160px;
  }
  
  .main-menu {
    display: none;
  }

  .tablet_menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 35px;
    margin: 50px 0px 0px;
  }

  .line {
    width: 25px;
    height: 4px;
    background-color: white;
    margin-top: 5px;
  }
    
    .title {
      margin-top: -80px;
    }
  
  .trends {
    flex-wrap:wrap;
  }
  
  .trend {
    width: 49%;
  }
  
  .trend:nth-child(odd) {
  margin-right: 3px;
}
  
  .trend:nth-child(n + 3) {
  margin-top: 3px;
}
  
  .page {
  max-width: 100%;
  }
  
  .sidebar {
    width: 275px;
    margin-left: 35px;
  }
  
  .blog {
    width: 65%;
  }
  
  .card {
    display: block;
    margin: auto;
  }
  
  .card {
    display: block;
    margin: auto;
  }

  .card-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .card-content {
    margin: auto;
  }

  .card-name {
    font-size: 17px;
  }

  .card-content-meta {
    margin: -20px 0px 0px;
  }

  .card-content-area {
    margin: 15px 0px;
  }

  .card-content-text {
    font-size: 15px;
  }
  
  
  .our_goods {
    max-width: 700px;
    flex-wrap:wrap;
  }
  
  .good {
    width:40%;
  }
  
  .good:nth-child(1) {
    margin-right: 40px;
    margin-left: 30px;
  }
  
  .good:nth-child(3) {
    margin-top: 40px;
    margin-left: 30px;
  }

  .popup {
    width: 35%;
    }
  }

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
 .trends {
    flex-wrap:wrap;
  }
  
  .trend {
    width: 49%;
  }
  
  .trend:nth-child(odd) {
  margin-right: 3px;
}
  
  .trend:nth-child(n + 3) {
  margin-top: 3px;
} 
}